<div class="contact-form">
  <div class="content">
    <div class="image-container"></div>
    <div class="form-container">
      <h3>{{h3}}</h3>
      <h2>{{h2}}</h2>
      <div>
        <div class="icon phone"></div>
        <div class="content-wrapper">
          <label>Phone</label>
          <p>(+46)74-735909</p>
        </div>
      </div>
      <div>
        <div class="icon email"></div>
        <div class="content-wrapper">
          <label>E-mail</label>
          <p>skanelag@hotmail.com</p>
        </div>
      </div>
      <!--<form>
        <label>Name</label>
        <input type="text">
        <label>Email</label>
        <input type="text">
        <label>Message</label>
        <textarea rows="3"></textarea>
        <input class="button-component-form" type="submit" value="Send">
      </form>-->
    </div>
  </div>
</div>
