<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./img/favicons//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./img/favicons//apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./img/favicons//apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./img/favicons//apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./img/favicons//apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./img/favicons//apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./img/favicons//apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons//apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="./img/favicons//android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./img/favicons//favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/favicons//favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./img/favicons//ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Skåne Lag" />
  <meta property="og:description" content="For more then a thousand years the Vikings has fascinated us with their heroic deeds 
  and mythical travels. Welcome to embark upon a journey leading you through history to the end of the Iron Age." />
  <meta property="og:image" content="./img/wollin_line.jpg" />
</head>
