{{#json images}}
<div class="image-slider">
  <div class="images">
    {{#each images}}
      <div class="sliding-element {{#ifCond @index 0}}active{{/ifCond}}">
        <div class="image" style="background-image:url({{this.url}})"></div>
        <div class="content">
            <h3>{{this.heading}}</h3>
            <p>{{this.text}}</p>
        </div>
      </div>
   {{/each}} 
  </div>
  <div class="slide-controllers">
    <img src="../img/arrow-left.svg"/>
    <img src="../img/arrow-right.svg"/>
  </div>
</div>
{{/json}}
