<div id="menu-component">
  <div class="content">
     <label id="close-menu" for="open-close-menu"><img src="./img/close.svg"/></label>
    <nav>
      <ul>
        <li><a href="./index.html">Start</a></li>
        <li><a href="./reanactment.html">Reanactment</a></li>
        <li><a href="./hire-us.html">Hire Us</a></li>
      </ul>
    </nav>
  </div>
</div>
