<div id="menu-component">
  <div class="content">
     <img src="../img/close.svg"/>
    <nav>
      <ul>
        <li><a href="#">Start</a></li>
        <li><a href="#">Reanactment</a></li>
        <li><a href="#">Hire Us</a></li>
      </ul>
    </nav>
  </div>
</div>
