<div class="video-component" data-video-id="{{video-id}}">
  <div class="video-play-icon">
    <img src="./img/play.svg">
  </div>
  <div class="video-overlay">
    <div class="close-video"></div>
    <div class="video-container">
    <div class="videowrapper">
      <div class="video-slot"></div>
      
    </div>
    </div>
  </div>
</div>
