#hire-us {
  .top-section{
    .top-section('../img/filming.jpg');
  }

  .hire-section {
    .text-section();
    min-height: 100vh;
  }

  .image-slide-movie-section {
    .image-section('../img/profile.jpg');
    min-height: 100vh;
  }

  .image-slide-shows-section {
    .image-section('../img/fighting.jpg');
    min-height: 100vh;
  }

  .join-us-section {
    background-color: @dark-dark;

    .content {
      padding: 0 1.5rem;
      margin: 0;
      display: table;
      width: 100%;
      box-sizing: border-box;

      > div {
        padding: 0;
        padding-top: 15vh;
      }
    }
  }
}
