#join-us {
  .top-section{
    .top-section('../img/wollin_line.jpg');
    position: relative;
    z-index: -1;
    .content {
      position: absolute;
      bottom: 9rem;

      h1,
      h2 {
        text-align: left;
      }
    }
  }
}
