#start {
  .top-section {
    height: 100vh;
    background-image: url('../img/main.png');
    background-size: cover;
    background-position: center center;

    .content {
      transform: translateY(20vh);
    }
  }

  .reanactment-section {
    background-color: @main-dark;
    height: 100vh;

    h2 {

    }

    h3 {
      color: @red;
      font-size: 5rem;
      margin-bottom: 0;
    }

    p {
      color: @white;
      margin-top: 0;
    }
  }
}

