/* Views */
html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
}
body {
  background-color: #292929;
  color: #fff;
}
.content {
  padding: 5rem 0;
  margin: 0 1.5rem;
}
@media (min-width: 768px) {
  .content {
    padding: 15rem 0;
    margin: 0 3rem;
  }
}
h1,
h2 {
  font-family: 'norseregular';
  margin: 0;
}
h1 {
  font-size: 9rem;
}
h2 {
  font-size: 4rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 20rem;
  }
  h2 {
    font-size: 8rem;
  }
}
h3 {
  font-family: 'Playfair Display';
  font-weight: normal;
  text-transform: uppercase;
}
p,
label,
input,
textarea {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  p,
  label,
  input,
  textarea {
    font-size: 2.2rem;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
.break-point {
  display: block;
}
@media (min-width: 768px) {
  .break-point {
    display: none;
  }
}
.no-wrap {
  white-space: nowrap;
}
#start .top-section {
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent 50%, black), url('../img/main.png');
  background-size: cover;
  background-position: center center;
}
#start .top-section .content {
  padding: 0;
  padding-top: 15vh;
}
#start .top-section .content h1,
#start .top-section .content h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #start .top-section .content {
    padding-top: 45vh;
  }
}
#start .top-section img {
  height: 6rem;
  width: 6rem;
  display: block;
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  margin: auto;
  animation: jump 6s ease-in infinite;
  animation-delay: 5s;
}
@keyframes jump {
  0%,
  35%,
  43%,
  50%,
  100% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(-4rem);
  }
  46% {
    transform: translateY(-3.5rem);
  }
}
#start .reanactment-section {
  min-height: 100vh;
  min-height: 90vh;
  background-color: #292929;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  #start .reanactment-section .content {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #start .reanactment-section .content {
    width: 50%;
  }
}
#start .reanactment-section img {
  display: block;
  height: 5rem;
  width: 5rem;
  margin: 2rem auto 0 auto;
}
@media (min-width: 768px) {
  #start .reanactment-section img {
    height: 7rem;
    width: 7rem;
    margin-bottom: 8rem;
  }
}
#start .reanactment-section h2 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  #start .reanactment-section h2 {
    font-size: 6rem;
  }
}
#start .reanactment-section h3 {
  color: #FF5151;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  #start .reanactment-section h3 {
    float: left;
    margin-top: 0;
    line-height: 1;
    margin-right: 1rem;
    font-size: 7rem;
  }
}
#start .reanactment-section p {
  color: #fff;
  margin-top: 0;
}
@media (min-width: 768px) {
  #start .reanactment-section p:after {
    content: " ";
    display: block;
    clear: both;
  }
}
#start .hire-us-section {
  min-height: 100vh;
  min-height: 90vh;
  background: linear-gradient(to left, transparent, black), url('../img/fighters.png');
  background-size: cover;
  background-position: center left;
}
@media (min-width: 768px) {
  #start .hire-us-section {
    background-position: center center;
  }
}
@media (min-width: 768px) {
  #start .hire-us-section .content {
    float: left;
    margin-left: 10%;
    text-align: left;
  }
}
@media (min-width: 768px) {
  #start .hire-us-section .content {
    width: 50%;
    padding-top: 14vh;
  }
}
@media (min-width: 1200px) {
  #start .hire-us-section .content {
    width: 40%;
  }
}
#start .hire-us-section .content h2 {
  margin-bottom: 0;
  font-size: 6rem;
}
#start .hire-us-section .content h3 {
  color: #FF5151;
  font-size: 3rem;
  margin-top: 0;
}
#start .hire-us-section .content p {
  margin-top: 10vh;
  text-align: left;
}
#start .hire-us-section:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  #start .hire-us-section .button-component {
    text-align: left;
  }
}
#start .join-us-section {
  background-color: #000;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%), url('../img/aaron.png'), #000;
  background-repeat: no-repeat;
  background-position: center left;
  padding-top: 10vh;
}
@media (min-width: 768px) {
  #start .join-us-section {
    background-size: contain;
  }
}
@media (min-width: 1200px) {
  #start .join-us-section .content {
    width: 40%;
    margin-left: 60%;
    text-align: left;
  }
}
#start .join-us-section .content h2 {
  text-align: left;
  font-size: 6rem;
}
#start .join-us-section .content h3 {
  color: #FF5151;
  font-size: 3rem;
  margin-bottom: 0;
}
#start .join-us-section .button-component {
  margin-top: 5rem;
}
@media (min-width: 550px) {
  #start .join-us-section .button-component {
    text-align: left;
  }
}
#reanactment .top-section {
  position: relative;
  z-index: -1;
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent 50%, black), url('../img/lineup.jpg');
  background-size: cover;
  background-position: center center;
}
#reanactment .top-section .content {
  padding: 0;
  padding-top: 15vh;
}
#reanactment .top-section .content h1,
#reanactment .top-section .content h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #reanactment .top-section .content {
    padding-top: 45vh;
  }
}
#reanactment .top-section .content {
  position: absolute;
  bottom: 9rem;
}
#reanactment .top-section .content h1,
#reanactment .top-section .content h2 {
  text-align: left;
}
#reanactment .vikings-section {
  min-height: 90vh;
  background-color: #292929;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  #reanactment .vikings-section .content {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #reanactment .vikings-section .content {
    width: 50%;
  }
}
#reanactment .vikings-section img {
  display: block;
  height: 5rem;
  width: 5rem;
  margin: 2rem auto 0 auto;
}
@media (min-width: 768px) {
  #reanactment .vikings-section img {
    height: 7rem;
    width: 7rem;
    margin-bottom: 8rem;
  }
}
#reanactment .vikings-section h2 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  #reanactment .vikings-section h2 {
    font-size: 6rem;
  }
}
#reanactment .vikings-section h3 {
  color: #FF5151;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  #reanactment .vikings-section h3 {
    float: left;
    margin-top: 0;
    line-height: 1;
    margin-right: 1rem;
    font-size: 7rem;
  }
}
#reanactment .vikings-section p {
  color: #fff;
  margin-top: 0;
}
@media (min-width: 768px) {
  #reanactment .vikings-section p:after {
    content: " ";
    display: block;
    clear: both;
  }
}
#reanactment .image-slide-section {
  height: 90vh;
  position: relative;
  z-index: -1;
}
#reanactment .image-slide-section .content {
  position: absolute;
  bottom: 5rem;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #reanactment .image-slide-section .content {
    margin-left: 10%;
  }
}
#reanactment .image-slide-section .content h3 {
  color: #FF5151;
  font-size: 5rem;
  margin: 0;
}
@media (min-width: 768px) {
  #reanactment .image-slide-section .content h3 {
    font-size: 6rem;
  }
}
@media (min-width: 768px) {
  #reanactment .image-slide-section .content p {
    max-width: 40%;
  }
}
#reanactment .historical-section {
  min-height: 90vh;
  background-color: #292929;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  #reanactment .historical-section .content {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #reanactment .historical-section .content {
    width: 50%;
  }
}
#reanactment .historical-section img {
  display: block;
  height: 5rem;
  width: 5rem;
  margin: 2rem auto 0 auto;
}
@media (min-width: 768px) {
  #reanactment .historical-section img {
    height: 7rem;
    width: 7rem;
    margin-bottom: 8rem;
  }
}
#reanactment .historical-section h2 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  #reanactment .historical-section h2 {
    font-size: 6rem;
  }
}
#reanactment .historical-section h3 {
  color: #FF5151;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  #reanactment .historical-section h3 {
    float: left;
    margin-top: 0;
    line-height: 1;
    margin-right: 1rem;
    font-size: 7rem;
  }
}
#reanactment .historical-section p {
  color: #fff;
  margin-top: 0;
}
@media (min-width: 768px) {
  #reanactment .historical-section p:after {
    content: " ";
    display: block;
    clear: both;
  }
}
#reanactment .fight-section {
  min-height: 90vh;
  background: linear-gradient(to left, transparent, black), url('../img/fighters.png');
  background-size: cover;
  background-position: center left;
}
@media (min-width: 768px) {
  #reanactment .fight-section {
    background-position: center center;
  }
}
@media (min-width: 768px) {
  #reanactment .fight-section .content {
    float: left;
    margin-left: 10%;
    text-align: left;
  }
}
@media (min-width: 768px) {
  #reanactment .fight-section .content {
    width: 50%;
    padding-top: 14vh;
  }
}
@media (min-width: 1200px) {
  #reanactment .fight-section .content {
    width: 40%;
  }
}
#reanactment .fight-section .content h2 {
  margin-bottom: 0;
  font-size: 6rem;
}
#reanactment .fight-section .content h3 {
  color: #FF5151;
  font-size: 3rem;
  margin-top: 0;
}
#reanactment .fight-section .content p {
  margin-top: 10vh;
  text-align: left;
}
#reanactment .fight-section:after {
  content: " ";
  display: block;
  clear: both;
}
#reanactment .craftmanship-section {
  min-height: 90vh;
  background: linear-gradient(to left, transparent, black), url('../img/craftmanship.jpg');
  background-size: cover;
  background-position: center left;
  background-position: center center;
}
@media (min-width: 768px) {
  #reanactment .craftmanship-section {
    background: linear-gradient(to right, transparent, black), url('../img/craftmanship.jpg');
  }
}
@media (min-width: 768px) {
  #reanactment .craftmanship-section {
    background-position: center center;
  }
}
@media (min-width: 768px) {
  #reanactment .craftmanship-section .content {
    float: right;
    margin-right: 10%;
    text-align: right;
  }
}
@media (min-width: 768px) {
  #reanactment .craftmanship-section .content {
    width: 50%;
    padding-top: 14vh;
  }
}
@media (min-width: 1200px) {
  #reanactment .craftmanship-section .content {
    width: 40%;
  }
}
#reanactment .craftmanship-section .content h2 {
  margin-bottom: 0;
  font-size: 6rem;
}
#reanactment .craftmanship-section .content h3 {
  color: #FF5151;
  font-size: 3rem;
  margin-top: 0;
}
#reanactment .craftmanship-section .content p {
  margin-top: 10vh;
  text-align: left;
}
#reanactment .craftmanship-section:after {
  content: " ";
  display: block;
  clear: both;
}
#reanactment .join-us-section {
  background-color: #000;
}
#reanactment .join-us-section .content {
  padding: 0 1.5rem;
  margin: 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
#reanactment .join-us-section .content > div {
  padding: 0;
  padding-top: 15vh;
}
#hire-us .top-section {
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent 50%, black), url('../img/filming.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -1;
}
#hire-us .top-section .content {
  padding: 0;
  padding-top: 15vh;
}
#hire-us .top-section .content h1,
#hire-us .top-section .content h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #hire-us .top-section .content {
    padding-top: 45vh;
  }
}
#hire-us .top-section .content {
  position: absolute;
  bottom: 9rem;
}
#hire-us .top-section .content h1,
#hire-us .top-section .content h2 {
  text-align: left;
}
#hire-us .hire-section {
  min-height: 90vh;
  background-color: #292929;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  #hire-us .hire-section .content {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  #hire-us .hire-section .content {
    width: 50%;
  }
}
#hire-us .hire-section img {
  display: block;
  height: 5rem;
  width: 5rem;
  margin: 2rem auto 0 auto;
}
@media (min-width: 768px) {
  #hire-us .hire-section img {
    height: 7rem;
    width: 7rem;
    margin-bottom: 8rem;
  }
}
#hire-us .hire-section h2 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  #hire-us .hire-section h2 {
    font-size: 6rem;
  }
}
#hire-us .hire-section h3 {
  color: #FF5151;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  #hire-us .hire-section h3 {
    float: left;
    margin-top: 0;
    line-height: 1;
    margin-right: 1rem;
    font-size: 7rem;
  }
}
#hire-us .hire-section p {
  color: #fff;
  margin-top: 0;
}
@media (min-width: 768px) {
  #hire-us .hire-section p:after {
    content: " ";
    display: block;
    clear: both;
  }
}
#hire-us .image-slide-movie-section {
  height: 90vh;
  position: relative;
  z-index: -1;
}
#hire-us .image-slide-movie-section .content {
  position: absolute;
  bottom: 5rem;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #hire-us .image-slide-movie-section .content {
    margin-left: 10%;
  }
}
#hire-us .image-slide-movie-section .content h3 {
  color: #FF5151;
  font-size: 5rem;
  margin: 0;
}
@media (min-width: 768px) {
  #hire-us .image-slide-movie-section .content h3 {
    font-size: 6rem;
  }
}
@media (min-width: 768px) {
  #hire-us .image-slide-movie-section .content p {
    max-width: 40%;
  }
}
#hire-us .image-slide-shows-section {
  height: 90vh;
  position: relative;
  z-index: -1;
}
#hire-us .image-slide-shows-section .content {
  position: absolute;
  bottom: 5rem;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #hire-us .image-slide-shows-section .content {
    margin-left: 10%;
  }
}
#hire-us .image-slide-shows-section .content h3 {
  color: #FF5151;
  font-size: 5rem;
  margin: 0;
}
@media (min-width: 768px) {
  #hire-us .image-slide-shows-section .content h3 {
    font-size: 6rem;
  }
}
@media (min-width: 768px) {
  #hire-us .image-slide-shows-section .content p {
    max-width: 40%;
  }
}
#hire-us .join-us-section {
  background-color: #000;
}
#hire-us .join-us-section .content {
  padding: 0 1.5rem;
  margin: 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
#hire-us .join-us-section .content > div {
  padding: 0;
  padding-top: 15vh;
}
/* Components */
header {
  position: absolute;
  width: 100%;
}
header input[type=checkbox] {
  display: none;
}
header input[type=checkbox]:checked ~ #menu-component {
  display: block;
}
header label:hover {
  cursor: pointer;
}
header .content {
  overflow: hidden;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  header .content {
    padding: 3rem 0;
  }
}
header .content > a,
header .content label {
  height: 7rem;
  width: 7rem;
}
@media (min-width: 768px) {
  header .content > a,
  header .content label {
    height: 9rem;
    width: 9rem;
  }
}
header .content #logo {
  float: left;
}
header .content #logo img {
  height: 100%;
  width: 100%;
}
header .content #nav-trigger {
  float: right;
  box-sizing: border-box;
  text-align: center;
}
header .content #nav-trigger img {
  width: 80%;
  margin: 10% 0;
}
header .content:after {
  content: " ";
  display: block;
  clear: both;
}
footer {
  background-color: #000;
  padding: 4vh 0;
  font-size: 3rem;
  font-family: 'norseregular';
}
@media (min-width: 768px) {
  footer {
    font-size: 4rem;
    padding: 0;
  }
}
@media (min-width: 768px) {
  footer .content {
    padding: 10rem 0;
  }
}
footer ul {
  padding-left: 0;
  margin: 0;
}
@media (min-width: 768px) {
  footer ul {
    display: inline-block;
  }
}
footer ul li {
  list-style-type: none;
  line-height: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  footer ul li {
    display: inline-block;
    margin-right: 3rem;
    text-align: left;
  }
}
@media (min-width: 768px) {
  footer ul:first-of-type {
    float: left;
  }
}
footer ul:last-of-type {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  footer ul:last-of-type {
    float: right;
    margin-top: 0;
  }
}
footer ul:last-of-type a {
  display: block;
  margin: 0 auto;
  border: 1px solid #fff;
  height: 5rem;
  width: 5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
footer ul:last-of-type li {
  width: 50%;
  float: left;
}
@media (min-width: 768px) {
  footer ul:last-of-type li {
    width: initial;
    text-align: left;
    display: inline-block;
  }
}
footer:after {
  content: " ";
  display: block;
  clear: both;
}
#facebook-contact {
  background: url('../img/facebook-icon.svg');
}
#mail-contact {
  background: url('../img/mail-icon.svg');
}
#menu-component {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #292929;
}
#menu-component label {
  height: 4rem;
  width: 4rem;
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}
#menu-component label:after {
  content: " ";
  display: block;
  clear: both;
}
#menu-component label img {
  width: 100%;
  height: 100%;
}
#menu-component ul {
  padding-left: 0;
  padding-top: 25vh;
}
@media (min-width: 768px) {
  #menu-component ul {
    width: 40%;
    margin: 0 auto;
  }
}
#menu-component ul li {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  margin: 1rem 0;
  font-family: 'norseregular';
  list-style: none;
  font-size: 5rem;
  border-bottom: 2px solid #000;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#menu-component ul li:nth-child(1) {
  -webkit-animation-delay: 210ms;
  -moz-animation-delay: 210ms;
  animation-delay: 210ms;
}
#menu-component ul li:nth-child(2) {
  -webkit-animation-delay: 320ms;
  -moz-animation-delay: 320ms;
  animation-delay: 320ms;
}
#menu-component ul li:nth-child(3) {
  -webkit-animation-delay: 430ms;
  -moz-animation-delay: 430ms;
  animation-delay: 430ms;
}
@media (min-width: 768px) {
  #menu-component ul li {
    margin: 3rem 0;
  }
}
#menu-component ul li a {
  display: block;
  padding: 1rem 0;
}
.button-component {
  text-align: center;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .button-component {
    margin-top: 10rem;
  }
}
.button-component a,
.button-component-form {
  font-family: 'norseregular';
  font-size: 4rem;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  background-image: linear-gradient(#535353, #535353);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s, color 0.5s;
}
.button-component a:hover,
.button-component-form:hover {
  cursor: pointer;
  background-size: 100% 100%;
  color: #fff;
}
.contact-form .content {
  padding: 0 1.5rem;
  margin: 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.contact-form .content > div {
  padding: 0;
  padding-top: 15vh;
}
.contact-form .content .image-container {
  display: none;
  width: 50%;
  float: none;
  vertical-align: top;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%), url('../img/aaron.png'), #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .contact-form .content .image-container {
    display: table-cell;
  }
}
.contact-form .content .form-container {
  float: none;
  display: table-cell;
  vertical-align: top;
}
@media (min-width: 768px) {
  .contact-form .content .form-container {
    width: 50%;
  }
}
.contact-form .content .form-container h2,
.contact-form .content .form-container h3,
.contact-form .content .form-container form {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contact-form .content .form-container h2,
  .contact-form .content .form-container h3,
  .contact-form .content .form-container form {
    width: 50%;
  }
}
.contact-form .content .form-container h2 {
  font-size: 6rem;
}
.contact-form .content .form-container h3 {
  color: #FF5151;
  font-size: 3rem;
}
.contact-form .content .form-container form {
  margin-top: 2rem;
}
.contact-form .content .form-container form label,
.contact-form .content .form-container form input[type=text],
.contact-form .content .form-container form textarea {
  display: block;
  width: 100%;
}
.contact-form .content .form-container form label {
  margin-top: 2rem;
}
.contact-form .content .form-container form input[type=text],
.contact-form .content .form-container form textarea {
  background-color: #292929;
  padding: 0.8rem 0.2rem;
  border: none;
  border-bottom: 3px solid #292929;
  outline: none;
}
.contact-form .content .form-container form input[type=text]:focus,
.contact-form .content .form-container form textarea:focus {
  border-bottom: 3px solid #fff;
}
.contact-form .content .form-container .button-component-form {
  display: block;
  margin: 5rem auto;
  background-color: #292929;
  min-width: 40%;
}
.image-slider {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.image-slider .images {
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, black);
}
.image-slider .images .sliding-element .image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 100%;
  background-size: cover;
  background-position: center center;
  transition: left ease-out;
}
.image-slider .images .sliding-element:first-of-type .image {
  left: 0;
}
.image-slider .slide-controllers {
  position: relative;
  top: -55%;
  z-index: 1;
}
.image-slider .slide-controllers img {
  height: 6rem;
  margin: 0 0.5rem;
}
@media (min-width: 768px) {
  .image-slider .slide-controllers img {
    height: 8rem;
    margin: 0 1.5rem;
  }
}
.image-slider .slide-controllers img:first-of-type {
  float: left;
}
.image-slider .slide-controllers img:last-of-type {
  float: right;
}
/* Mixins */
/* View Mixins */
/* Variabels */
/* Colors */
/* Fonts */
@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'), url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'norseregular';
  src: url('../fonts/norse-webfont.woff2') format('woff2'), url('../fonts/norse-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
}
/* Break-points */
