.top-section (@background-img-url) {
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent 50%, black), url(@background-img-url);
  background-size: cover;
  background-position: center center;

  .content {
    padding: 0;
    padding-top: 15vh;

    h1, h2 {
      text-align: center;
    }

    @media (min-width: @screen-sm) {
      padding-top: 45vh;
    }
  }
}
