<html>
  {{>head title='About'}}
  <body id="about">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>About us</h1>
        <h2>Contact & general info</h2>
      </div>
    </section>

    <section class="jomsborg-section">
      <div class="content">
        <h2>Based in Malmö</h2>
        <img src="./img/viking-icon.svg"/>
        <h3>Skåne Lag</h3>
        <p>Skåne Lag is one of the oldest Viking reenactment groups in Sweden with the base in Scania (Skåne). 
          Our goal is to recreate the Viking period in the end of the Scandinavian Iron Age (8th to 12th century). Within the group we 
          highlight the value of teamwork, friendship and an exchange of ideas and thoughts between members and other reenactors. 
          Today the group has around 40 members spread across Sweden, Denmark and Germany. During the summer, many of our members participate 
          in different markets across the world. Skåne lag as an association is managed by a member-elected board who oversee the group, 
          the economy and the policy.
        </p>
      </div>
    </section>

    <section class="training-section">
      <div class="content">
        <h2>Training</h2>
        <h3>How to get started</h3>
        <p>A huge part of Skåne Lag's focus is the historically inspired competitive fighting. This is a full body contact 
          sport with blunted steal weapons. Everyone is welcome to join the weekly practice, regardless of prior experiences. As a beginner you 
          train together with an instructor in order to learn the basics before practicing with the whole group. Skåne Lag has a 
          useful mentor system where everyone who want can choose a more experienced fighter to get extra help from. Together we 
          aim to have a safe and fun atmosphere in the training hall. We train Tusedays 19.00-21.00 in Malmö, 
          contact us if your're interested. 
        </p>
      </div>
    </section>

    <section class="jomsborg-section">
      <div class="content">
        <h2>Part of Jomsborg</h2>
        <img src="./img/viking-icon.svg"/>
        <h3>Jomsborg</h3>
        <p>Skåne Lag is part of a worldwide living-history organisation called Jomsborg. The name Jomsborg derives from the legendary warband Jomsvikings. 
          These mythological warriors once made up a brotherhood spanning across the Baltic Sea and Scandinavia in the 
          late Viking age. They are belived to have had their stronghold on the island of Wolin in today’s Poland and figure in both archaeological 
          and historical sources. The modern Jomsborg was founded in 1988 and today it includes over 40 lags (groups) with more than a thousand members. 
          Jomsborg is divided into five Storms spread all across the world, where Skåne Lag is part of West Storm. 
          In true Viking spirit Jomsborg is lead by an elected Jarl. As with Skåne Lag the whole of 
          Jomsborg aims to recreate Viking Age culture in an authentic way where everyone is welcome. Read more at the Jomsborg website. 
        </p>
        {{> button 
          text='To Jomsborg' 
          link="http://www.jomsborg.co.uk" 
        }}
      </div>
    </section>

    <section class="image-slide-section">
      {{>image-slider
        images= '{
        "images":[
          { 
            "url": "./img/jomsborg-30.jpg", 
            "heading":"Feed the flame",
            "text": "All of Jomsborg at the 30th anniversary of the organisation."
          }
        ]}'
      }}
    </section>

    <section class="thanks-section">
      <div class="content">
        <h2>Special thanks to</h2>
        <img src="./img/viking-icon.svg"/>
        <ul>
          <li>
            <a href="http://polarvargen.tumblr.com/">
              <div>
                <div class="icon" style="background-image:url('./img/pernilla_s.jpg'); background-position: center center;"></div>
              </div>
              <p>Pernilla Svensson (photo)</p>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/Fjorgyn-226188070903605/">
              <div>
                <div class="icon" style="background-image:url('./img/nick.jpg'); background-position: center center;"></div>
              </div>
              <p>Nick Keygnaert(photo)</p>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100009611324899">
              <div>
                <div class="icon" style="background-image:url('./img/marek.jpg')"></div>
              </div>
              <p>Marek Kalisinski (photo)</p>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/Del-Ink-Fotografie-213142012112910/">
              <div>
                <div class="icon" style="background-image:url('./img/del-ink.jpg')"></div>
              </div>
              <p>Del-Ink / Fotografie</p>
            </a>
          </li>
          <li>
            <a href="https://500px.com/steenheinephotography">
              <div>
                <div class="icon" style="background-image:url('./img/stein-heine.jpg')"></div>
              </div>
              <p>Steen Heine Kristensen (photo)</p>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ReenactmentPhotographer/">
              <div>
                <div class="icon" style="background-image:url('./img/reenactment-photo.jpg')"></div>
              </div>
              <p>Reenactment in Photography</p>
            </a>
          </li>
          <li>
            <div>
              <div class="icon" style="background-image:url('./img/leia.png')"></div>
            </div>
            <p>Leia Morrison (photo)</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="contact-us-section">
      {{>contact-form
        h2='Become a viking' 
        h3="Join us"
      }}
    </section>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
