<html>
  {{>head title='Hire us'}}
  <body id="hire-us">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>Hire us</h1>
        <h2>Movies <span class="no-wrap">· Shows</span> <span class="no-wrap">· Events</span></h2>
      </div>
    </section>

    <section class="hire-section">
      <div class="content">
        <img src="./img/viking-icon.svg"/>
        <h3>Hire us</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="image-slide-movie-section">
      {{>image-slider
        images= '{
        "images":[
          { 
            "url": "./img/profile.jpg", 
            "heading":"Movies",
            "text": "Bacon ipsum dolor amet hamburger beribs kevin fatback. Bacon ipsum dolor amet hamburger beribs kevin fatback."
          }
        ]}'
      }}
    </section>

    <section class="hire-section">
      <div class="content">
        <img src="./img/viking-icon.svg"/>
        <h3>Hire us</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="image-slide-shows-section">
      {{>image-slider
        images= '{
        "images":[
          { 
            "url": "./img/fighting.jpg", 
            "heading":"Shows",
            "text": "Bacon ipsum dolor amet hamburger beribs kevin fatback. Bacon ipsum dolor amet hamburger beribs kevin fatback."
          }
        ]}'
      }}
    </section>

    <section class="join-us-section">
      {{>contact-form
        h2='Get in touch' 
        h3="More info"
      }}
    </section>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
