<html>
  {{>head title='Hire us'}}
  <body id="hire-us">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>Hire us</h1>
        <h2>Movies <span class="no-wrap">· Shows</span> <span class="no-wrap">· Events</span></h2>
      </div>
    </section>

    <section class="hire-section">
      <div class="content">
        <img src="./img/viking-icon.svg"/>
        <h3>Dedicated</h3>
        <p>We believe history is a living thing that needs to be understood in order to fully grasp our own 
          modern world, culture and society. Providing a captivating and authentic way of portraying 
          the Vikings. Our goal is to make this fascinating time period available for the broad public. 
          Everyone involved is truly dedicated and spend countless hours of practicing, studying and crafting 
          clothes and equipment. We put a lot of prestige and effort in historical authenticity and we travel 
          the world to showcase our skills.
          Meet us and the faces of our remarkable ancestors.
        </p>
        {{> button 
          text='The Vikings' 
          link="./vikings.html" 
        }}
      </div>
    </section>

    <section class="image-slide-movie-section">
      {{>image-slider
        images= '{
        "images":[
          { 
            "url": "./img/over_the_hill.jpg",
            "heading":"Movies",
            "text": "With a broad resume of sharing the viking culture and traditions our repertoar is suitable for anything from documentaries to pure entertainment productions.",
            "classes": "s-top-left",
            "isVideo": true,
            "video-id": "kZHwLhqQMnA"
          },
          { 
            "url": "./img/run.jpg", 
            "heading":"Shows",
            "text": "At markets, fairs, companies, schools or libraries, we have done it all. We have performed shows at several locations always with the goal of sharing the viking history with the audience."
          },
          { 
            "url": "./img/profile.jpg", 
            "heading":"Actors",
            "text": "In order to deliver the best experience we take upon any role given to us and deliver a passionated and engaged performance."
          },
          { 
            "url": "./img/trelleborgen.jpg", 
            "heading":"Fighters",
            "text": "We are professional fighters, we train for hundreds of hours in order to be able to enter the battlefields and compete or peform stunning fighting stunts on demand.",
            "isVideo": true,
            "video-id": "lbEfnuCeP5A"
          },
          { 
            "url": "./img/music_video.jpg", 
            "heading":"Music videos",
            "text": "One example from our resume. We participated in the production of the music video for Leaves´Eyes song - Jomsborg.",
            "isVideo": true,
            "video-id": "mFc_05xzftw"
          }
        ]}'
      }}
    </section>

    <section class="hire-section">
      <div class="content">
        <img src="./img/viking-icon.svg"/>
        <h3>Resume</h3>
        <p>Skåne lag has a long experience of showcasing and mediating the Viking Age and our resume spans from 
          educational school events to movie productions and documentaries. As warriors we have fought our way across 
          many battlefields and taken the lead in battles with hundreds of fearsome warriors in front of the camera. We have displayed 
          our fine weaponry skills at several shows and events and we master a broad variety fighting techniques. 
          As craftsmen we can organize workshops and display the art of crafting historical clothing, dying fabric, making jewelry and a lot more. 
        </p>
      </div>
    </section>

    <section class="image-slide-shows-section">
      {{>image-slider
        images= '{
        "images":[
          { 
            "url": "./img/aaron_fight.jpg",
            "heading":"Events",
            "text": "With strengths from the gods we bring the old sagas and legends to life and arrange unforgettable shows and events. With humor when needed or as cruel warriors when the situation calls."
          },
          { 
            "url": "./img/craft.jpg", 
            "heading":"Crafters",
            "text": "Our exprienced crafters gladly share theire knowledge with anyone interested. We provide courses and workshops in dying fabric, metal work and many other historical craft techniques."
          },
          { 
            "url": "./img/market_img.jpg", 
            "heading":"Encampments",
            "text": "We can provide full viking encampment with merchants, warriors, entertainers, ctaftsmen and storytellers."
          }
        ]}'
      }}
    </section>

    <section class="stunts-section">
      <div class="content">
        <h2>Trained and skilled</h2>
        <h3>Fight Assistants</h3>
        <p>
          Fighting requires technique, strength and speed and to truly master it takes years of practice. As fight assistants we provide 
          a team of highly skilled live fighters and marital arts specialists making the production and rehearsing run smoother and more 
          cost effective. We can work alongside actors, act as stand-ins or teach/inspire the actors to preform better and more realistic 
          in their role. All the fighters provide their own authentic gear meaning that the production team won’t have to worry about renting 
          costs and authenticity. We can also train extras for large battles in just hours to make the background fighting look professional and 
          we have the contacts needed to bring in hundreds of already trained warriors, whole viking camps and viking longships for 
          large scale movie productions.
        </p>
      </div>
    </section>

    <section class="join-us-section">
      {{>contact-form
        h2='Get in touch' 
        h3="More info"
      }}
    </section>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
