<html>
  {{>head title='Joins Us'}}
  <body id="join-us">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>The Vikings</h1>
        <h2>Of Skåne Lag</h2>
      </div>
    </section>
    <section class="vikings-section">
      <div class="content">
        

      </div>
    </section>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
