<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="reanactment">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>Reanactment</h1>
        <h2>Live your history</h2>
      </div>
    </section>

    <section class="vikings-section">
      <div class="content">
        <h3>Vikings</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>
    
    <section class="image-slide-section">
      <div class="content">
        <h3>Movies · Shows</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback.</p>
      </div>
    </section>

    <section class="historical-section">
      <div class="content">
        <h3>Historical</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="fight-section">
      <div class="content">
        <h2>Hire Us</h2>
        <h3>Movies · Shows</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="craftmanship-section">
      <div class="content">
        <h2>Hire Us</h2>
        <h3>Movies · Shows</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="join-us-section">
      <div class="content">
        <h3>Join us</h3>
        <h2>Become a viking</h2>
        {{> button 
          text='Learn More' 
          link="#" 
        }}
      </div>
    </section>
    {{>footer}}
    <script src="/js/main.js"></script>
  </body>
</html>
