<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="reanactment">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>Reanact<br class="break-point">ment</h1>
        <h2>Live your history</h2>
      </div>
    </section>
    <section class="vikings-section">
      <div class="content">
        <img src="../img/viking-icon.svg"/>
        <h3>Vikings</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>
    
    <section class="image-slide-section">
      {{>image-slider
        images= '{
        "images":[
          { 
            "url": "../img/horse.jpg", 
            "heading":"Vikings",
            "text": "Bacon ipsum dolor amet hamburger beribs kevin fatback. Bacon ipsum dolor amet hamburger beribs kevin fatback."
          },
          { 
            "url": "../img/horse.jpg", 
            "heading":"Vikings",
            "text": "Bacon ipsum dolor amet hamburger beribs kevin fatback. Bacon ipsum dolor amet hamburger beribs kevin fatback."
          }
        ]}'
      }}
    </section>

    <section class="historical-section">
      <div class="content">
        <img src="../img/viking-icon.svg"/>
        <h3>Historical</h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="fight-section">
      <div class="content">
        <h2>Fighters</h2>
        <h3>Sword <span class="no-wrap">路 Axe</span> <span class="no-wrap">路 Spear</span></h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="craftmanship-section">
      <div class="content">
        <h2>Craftsmen</h2>
        <h3>Metal <span class="no-wrap">路 Jewlery</span> <span class="no-wrap">路 Cloathing</span></h3>
        <p>Bacon ipsum dolor amet hamburger beribs kevin fatback, rump bresaola filet mignon tongue brisket. 
          Pig ball tip venison brisket. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon. Venison shankle boudin strip steak porchetta short ribs t-bone short loin 
          turkey tenderloin cupim. Short ribs pancetta hamburger boudin. Meatball leberkas pork belly brisket biltong. 
          Sirloin burgdoggen pastrami bacon.
        </p>
      </div>
    </section>

    <section class="join-us-section">
        {{>contact-form
          h2='Become a viking' 
          h3="Join us"
        }}
    </section>
    {{>footer}}
    <script src="/js/main.js"></script>
  </body>
</html>
