<html>
  {{>head title='Reenactment'}}
  <body id="reenactment">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>Reenact<br class="break-point">ment</h1>
        <h2>Live your history</h2>
      </div>
    </section>
    <section class="vikings-section">
      <div class="content">
        <img src="./img/viking-icon.svg"/>
        <h3>Vikings</h3>
        <p>Traders, craftsmen, warriors, plunderers, explorers, adventurers and pioneers. These are just a few words that 
          describe the fascinating group we call Vikings. On rune stones we recall their lives, battles and 
          travels. We can read about how they influenced the places they came to in written sources from all across the European 
          continent and the Middle east. Even when the Vikings are described as ruthless plunderers, "witnesses" cannot help to 
          also show their fasciation and respect. We are an reenactment group striving to recreate this fascinating chapter in history 
          and relive the everyday lives of the men and women who walked these lands more than a thousand years ago. 
        </p>
      </div>
    </section>
    
    <section class="image-slide-section">
      {{>image-slider
        images= '{
        "images":[
          { 
            "url": "./img/horse.jpg", 
            "heading":"Nature",
            "text": "Live a simpler life closer to nature. Live by what the earth can provide, just as our ancestors have done for centuries.",
            "isVideo": true,
            "video-id": "lXRfzcWN0jk"
          },
          { 
            "url": "./img/prepare_for_battlle.jpg", 
            "heading":"Warriors",
            "text": "A big part of the reenactment scene is fighting. It is a full body contact sport with steel weapons, nothing for the weak one.",
            "classes": "l-top-left"
          },
          { 
            "url": "./img/big_battle.jpg", 
            "heading":"Battles",
            "text": "As a warriors you will enter many epic and intense battlefields with hundreds of warriors and tons of adrenaline.",
            "classes": "l-top-left",
            "isVideo": true,
            "video-id": "oNEW4qPacGw"
          },
          { 
            "url": "./img/food-time.jpg", 
            "heading":"Friendship",
            "text": "The viking society is like a large family where everyone help each other. Join the community and find new friends for life."
          },
          { 
            "url": "./img/market_img.jpg", 
            "heading":"Markets",
             "text": "Loose the stress of the modern world. Fight, feast, eat and drink, the markets and campaing life is quite enchanting.",
            "classes": "l-top-left"
          }
        ]}'
      }}
    </section>

    <section class="historical-section">
      <div class="content">
        <img src="./img/viking-icon.svg"/>
        <h3>Historical</h3>
        <p>
          The Viking Age is one of the most mythical and intriguing periods in history. With the help from 
          both archaeological finds and written sources we conduct a form of experimental archeology where we recreates the 
          Viking Age society on a full scale. Historical authenticity 
          is very important and we try to keep all our equipment, tools, and clothing as correct as possible, always hand made and 
          preferably with an actual find as precursor. To the most of us this is more than just a hobby, it’s a lifestyle and we
          spend hundreds of hours of training fighting techniques, studying and crafting our equipment. In opposition to role play or 
          larp, you don’t have a role to play or scripts to follow, you are just yourself living as you would during the Viking age, 
          without the stress of the modern world. 
        </p>
      </div>
    </section>

    <section class="fight-section">
      <div class="content">
        <h2>Warriors</h2>
        <h3>Sword <span class="no-wrap">· Axe</span> <span class="no-wrap">· Spear</span></h3>
        <p>
          There was a strong warrior culture in the Viking society and weaponry skills and strength 
          were highly respected abilities. Every week, the fighters of Skåne Lag draw their swords, axes, spears 
          and shields and fight together. It's a full body contact sport were we fight with real steel weapons, so it's no place for the weak ones.  
          Fighting requires technique, strength and speed as well as trust in your team and respect for the opponent. Together 
          we prepare for the battlefields where we line up to fight our enemies. In that moment, we stand united
          beneath our banner and become part of history.
        </p>
      </div>
    </section>

    <section class="craftmanship-section">
      <div class="content">
        <h2>Craftsmanship</h2>
        <h3>Metal <span class="no-wrap">· Jewlery</span> <span class="no-wrap">· Cloathing</span></h3>
        <p>
          For over a thousand years the artifacts of the Vikings have been kept below ground. Today, with the help of 
          archaeology these objects are rediscovered and studied. Many of the members in Skåne Lag have 
          devoted countless hours to learn the crafts from the Viking age. We create the most beautiful jewelry and metal work as well 
          as woodwork and carvings. Wool and linen are spun and colored using only authentic 
          methods. The colorful yarn is used in tablet weaving, needle binding and for creating clothes. 
          Just as natural as it once was to our ancestors to craft what they needed, just as natural craftsmanship comes to the 
          reenactment lifestyle and you’ll learn techniques used for thousands of years.
        </p>
      </div>
    </section>

    <section class="join-us-section">
        {{>contact-form
          h2='Become a viking' 
          h3="Join us"
        }}
    </section>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
