<html>
  {{>head title='Start'}}
  <body id="start">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>Skåne Lag</h1>
        <h2>Viking age reenactors</h2>
      </div>
      <img src="./img/there-is-more.svg"/>
    </section>
    <section class="reenactment-section">
      <div class="content">
        <h2>Reenactment</h2>
        <img src="./img/viking-icon.svg"/>
        <h3>Vikings</h3>
        <p>For more than a thousand years the Vikings have fascinated us with their heroic deeds and travels. 
          Their heritage is constantly precent and they still influence our modern world all around the globe. Welcome to 
          embark upon a journey leading you through history to the end of the Iron Age. We are an reenactment group striving to 
          recreate the everyday lives of the remarkable men and women who lived more than a thousand years ago. Whether it is through 
          fighting or craftsmanship we try to relive the lives of the people we know as the Vikings. </p>
        {{> button 
          text='Learn More' 
          link="./reenactment.html" 
        }}
      </div>
    </section>
    <section class="hire-us-section">
      <div class="content">
        <h2>Hire Us</h2>
        <h3>Movies <span class="no-wrap">· Shows</span></h3>
        <p>Skåne Lag has a long experience showcasing the Viking Age to a broad public, spanning from 
          movies to educational school events. As warriors and craftspeople, we share knowledge and history in a living way, tangible 
          for everyone. Our resume spans from fighting shows and events all across the globe to participate in movie productions 
          and documentaries.</p>
        {{> button 
          text='Learn More' 
          link="./hire-us.html" 
        }}
      </div>
    </section>
    <section class="join-us-section">
      <div class="content">
        <h3>Join us</h3>
        <h2>Become a viking</h2>
        {{> button 
          text='Learn More' 
          link="./reenactment.html" 
        }}
      </div>
    </section>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
