<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body id="start">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>Skåne Lag</h1>
        <h2>Viking age renactors</h2>
      </div>
    </section>
  </body>
</html>
