<html>
  {{>head title='Vikings'}}
  <body id="vikings">
    {{>header}}
    <section class="top-section">
      <div class="content">
        <h1>The Vikings</h1>
        <h2>Of Skåne Lag</h2>
      </div>
    </section>
    <section class="vikings-section">
      <div class="content">
        <div class="column">
          <div>
            <img src="./img/thomas.jpg"/>
            <h2>Tomas Bolting</h2>
          </div>

          <div>
            <img src="./img/dennis.jpg"/>
            <h2>Dennis Johansson</h2>
          </div>

          <div>
            <img src="./img/emma.jpg"/>
            <h2>Emma Berntsson Lundberg</h2>
          </div>

          <div>
            <img src="./img/bente.jpg"/>
            <h2>Bente Riber</h2>
          </div>

          <div>
            <img src="./img/rune.jpg"/>
            <h2>Rune Duelund</h2>
          </div>

          <div>
            <img src="./img/linda_s.jpg"/>
            <h2>Linda Spanier</h2>
          </div>

          <div>
            <img src="./img/jacob.jpg"/>
            <h2>Jacob Pettersson</h2>
          </div>

          <div>
            <img src="./img/ingela.jpg"/>
            <h2>Ingela Nilsson</h2>
          </div>

          <div>
            <img src="./img/stabis.jpg"/>
            <h2>Patrik Ståbis</h2>
          </div>

           <div>
            <img src="./img/fredrik_j.jpg"/>
            <h2>Fredrik André-Jönsson</h2>
          </div>

          <div>
            <img src="./img/karin.jpg"/>
            <h2>Karin Bolting</h2>
          </div>

          <div>
            <img src="./img/stefan.jpg"/>
            <h2>Stefan Mundilfare</h2>
          </div>

        </div>

        <div class="column">
          <div>
            <img src="./img/aaron.png"/>
            <h2>Aaron Nilsson</h2>
          </div>

          <div>
            <img src="./img/rasmus_portrait.jpg"/>
            <h2>Rasmus Andersson</h2>
          </div>

          <div>
            <img src="./img/rikke.jpg"/>
            <h2>Rikke Riber Jensen</h2>
          </div>

          <div>
            <img src="./img/josef.jpg"/>
            <h2>Josef Ahlström</h2>
          </div>

          <div>
            <img src="./img/victor.jpg"/>
            <h2>Victor Kaupe </h2>
          </div>

          <div>
            <img src="./img/jessica.jpg"/>
            <h2>Jessica Forsberg</h2>
          </div>

          <div>
            <img src="./img/henrik_n.jpg"/>
            <h2>Henrik Nordholm</h2>
          </div>

          <div>
            <img src="./img/casper.jpg"/>
            <h2>Casper Nilsson</h2>
          </div>

           <div>
            <img src="./img/bertil.jpg"/>
            <h2>Bertil Fägerskjöld Sällström </h2>
          </div>

          <div>
            <img src="./img/sofia.jpg"/>
            <h2>Sofia Pettersson </h2>
          </div>

          <div>
            <img src="./img/sofia.jpg"/>
            <h2>Petra Karnebäck </h2>
          </div>
          
        </div>

        <div class="column">

          <div>
            <img src="./img/patrik.jpg"/>
            <h2>Patrik Jansson</h2>
          </div>

          <div>
            <img src="./img/nicolai.jpg"/>
            <h2>Nicolai Lorich</h2>
          </div>

          <div>
            <img src="./img/micke.jpg"/>
            <h2>Micke Filur</h2>
          </div>

         <div>
            <img src="./img/richard.jpg"/>
            <h2>Richard Mårdklint</h2>
          </div>

          <div>
            <img src="./img/runde_s.jpg"/>
            <h2>Rune Svindt Voulund</h2>
          </div>

          <div>
            <img src="./img/joachim.jpg"/>
            <h2>Joakim Holdeberg</h2>
          </div>

          <div>
            <img src="./img/helen.jpg"/>
            <h2>Helen Servin</h2>
          </div>

          <div>
            <img src="./img/pernilla_s.jpg"/>
            <h2>Pernilla Svensson</h2>
          </div>

          <div>
            <img src="./img/theo.jpg"/>
            <h2>Theo Broman</h2>
          </div>

          <div>
            <img src="./img/jenny.jpg"/>
            <h2>Jenny Månsson</h2>
          </div>
          
          <div>
            <img src="./img/marina.jpg"/>
            <h2>Marina Nilsson</h2>
          </div>
        </div>
        

      </div>
    </section>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
